<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.mapper.EmpMapper">
<!--    根据id更新员工基本信息-->
    <update id="updateById">
        UPDATE emp
        <set>
            <if test="username != null and username!=''" >username = #{username},</if>
            <if test="password != null and password!=''">password = #{password},</if>
            <if test="name != null and name!=''">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null and phone != ''"> phone = #{phone},</if>
            <if test="job != null">job = #{job},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="image != null  and image!=''" >image = #{image},</if>
            <if test="entryDate != null">entry_date = #{entryDate},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="updateTime!= null">update_time = #{updateTime}</if>
        </set>
        WHERE id = #{id}
    </update>
    <!--    批量删除员工基本信息-->
    <delete id="deleteByIds">
        DELETE FROM emp WHERE id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                              #{id}
            </foreach>

    </delete>

<!---->
    <select id="list" resultType="com.ly.pojo.Emp">
        SELECT e.*,d.name deptName FROM emp e left join dept d on e.dept_id=d.id
        <where>
            <if test="name != null and name != ''">
                e.name like CONCAT('%',#{name},'%')
            </if>
            <if test="gender!=null">
            AND e.gender=#{gender}
            </if>
        <if test="begin !=null and end!=null">
            AND e.entry_date BETWEEN #{begin}AND #{end}
        </if>
        </where>
        ORDER BY e.update_time DESC
    </select>
    <!-- 定义ResultMap-->
    <resultMap id="empResultMap" type="com.ly.pojo.Emp">
<!--        封装员工基本信息-->
        <id column="id" property="id"/>
<!--  column为表中字段名，property为实体类属性名      -->
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="job" property="job"/>
        <result column="salary" property="salary"/>
        <result column="image" property="image"/>
        <result column="entry_date" property="entryDate"/>
        <result column="dept_id" property="deptId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <!--封装员工工作经历信息-->
        <collection property="exprList" ofType="com.ly.pojo.EmpExpr">
            <id column="ee_id" property="id"/>
            <result column="ee_empid" property="empId"/>
            <result column="ee_begin" property="begin"/>
            <result column="ee_end" property="end"/>
            <result column="ee_company" property="company"/>
            <result column="ee_job" property="job"/>
        </collection>
    </resultMap>

    <!--    根据Id查询员工基本信息与员工工作经历信息-->
    <select id="getById" resultMap="empResultMap">
        SELECT
            e.*,
            ee.id ee_id,
            ee.emp_id ee_empid,
            ee.`begin` ee_begin,
            ee.end ee_end,
            ee.company ee_company,
            ee.job ee_job
        FROM emp e LEFT JOIN emp_expr ee on e.id=ee.emp_id
        where e.id=#{id}
    </select>
    <select id="countEmpJobData" resultType="java.util.Map">
        select
            (case job when 1 then '班主任'
                      when 2 then '讲师'
                      when 3 then '学工主管'
                      when 4 then '教研主管'
                      when 5 then '咨询师'
                      else '其他' end)  pos,
            count(*) num
        from emp group by job order by num
    </select>
    <select id="countEmpGenderData" resultType="java.util.Map">
        SELECT
            if(gender=1,'男性员工','女性员工') name,
            count(*) value
        FROM emp GROUP BY gender;
    </select>
    <select id="selectByUsernameAndPassword" resultType="com.ly.pojo.Emp">
        select id,username,name from emp where username=#{username} and password=#{password}
    </select>

</mapper>